<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Simple House Restaurant</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
  <link href="css/templatemo-style.css" rel="stylesheet" />
</head>

<body>

  <div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
      <div class="parallax-window" data-parallax="scroll" data-image-src="images/simple-house-01.jpg">
        <div class="tm-header">
          <div class="row tm-header-inner">
            <div class="col-md-6 col-12">
              <img src="images/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
              <div class="tm-site-text-box">
                <h1 class="tm-site-title">Simple House Restaurant</h1>
              </div>
            </div>
            <nav class="col-md-6 col-12 tm-nav">
              <ul class="tm-nav-ul">
                <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                <li class="tm-nav-li"><a href="products" class="tm-nav-link active">Menu</a></li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <main>
      <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Welcome to Simple House Restaurant</h2>
        <p class="col-12 text-center">Enjoy the exptional taste of our diverse and unique range of foods.</p>
      </header>

      <!-- Gallery -->
      <div class="row tm-gallery">
       <div id="tm-gallery-page-pizza" class="tm-gallery-page">
          
        <%products.map((product, index)=>{%>
          <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
            <figure>
              <img src="<%=product.image%>" alt="Image" class="img-fluid tm-gallery-img" />
              <figcaption>
                <h4 class="tm-gallery-title"><%=product.name%></h4>
                <p class="tm-gallery-description"><%=product.description.slice(0,300)%></p>
                <p class="tm-gallery-price"><%=product.price%>
                  <br>
                <a href="/products/<%=product._id%>" class="">Learn More</a>
              </p>
              </figcaption>
            </figure>
          </article>
        <% })%>
      </div>

        <div class="tm-section tm-container-inner">
          <div class="row">
            <div class="col-md-12">
              <a href="products" class="tm-btn tm-btn-default tm-right">Full Menu</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="tm-footer text-center">
    </footer>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/parallax.min.js"></script>
</body>

</html>